.header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid black;
  background-color: #13006688;
  color: white;

  display: flex;
  justify-content: center;

  z-index: 50;

  img {
    width: auto;
    height: 100%;

    z-index: 25;
  }

  ul.hover-dropdown {
    list-style: none;
    padding: 0;
    
    position: absolute;
    right: 10px;
    top: 20px;

    height: 30px;
    overflow: hidden;

    border-radius: 5px;

    &:hover {
      height: initial;
      z-index: 50;
    }

    li {
      height: 30px;
      font-size: 24px;
      padding: 3px 10px;
      
      background-color: #000c;

      cursor: pointer;
      user-select: none;

      &:first-child {
        cursor: default;
        background-color: #0003;
        text-align: center;
      }

      &:not(:first-child):not(:last-child) {
        border-bottom: 1px dashed #8888;
      }

    }
  }
}


.form {
  padding-top: 120px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    min-width: 300px;
    min-height: 80px;

    margin: 10px;

    box-shadow:
      0px 1px 3px 0px rgba(0,0,0,0.2),
      0px 1px 1px 0px rgba(0,0,0,0.14),
      0px 2px 1px -1px rgba(0,0,0,0.12);


    &.swanky-input-container {
      position: relative;

      background: white;
      
      input, select {
        position: absolute;
        border: none;
        border-bottom: 2px solid #0004;
        
        bottom: 2px;
        left: 2px;
        width: calc(100% - 16px);
        height: 60px;

        font-size: 22px;
        padding-left: 10px;

        transition: font-size 0.25s;
        
        &:focus {
          outline: none;
          font-size: 26px;
          border-bottom: 2px solid green;
        }
      
        option {
          font-size: 22px;
        }
      }

      span.title {
        position: absolute;
        top: 5px;
        left: 5px;
        cursor: pointer;
        
        font-weight: 300;
        font-size: 16px;
        z-index: 20;

        transition: font-size 0.5s, color 1s;
      }

      
      &:focus-within span.title {
        color: green;
        font-size: 0.875rem;
      }

      span.invalid {
        position: absolute;
        top: 5px;
        right: 5px;

        font-size: 12px;
        color: red;
        text-align: right;
      }

      &:focus-within span.invalid {
        display: none;
      }

      &:not(:focus-within) span.invalid {
        position: absolute;
        top: 5px;
        right: 5px;

        font-size: 12px;
        color: red;
        text-align: right;
      }


      .country-dropdown-base {
        position: relative;
        height: 100%;
      }

      .country-dropdown-base input {
        background-color: #0000;
      }

      
      ul.selectable-countries {
        list-style: none;
        padding: 0;

        position: absolute;
        top: 100%;
        width: 100%;

        max-height: 25vh;
        overflow-y: auto;
        
        margin: 2px 0 0 0;

        z-index: 30;

        background-color: white;
        box-shadow:
          0px 1px 3px 0px rgba(0,0,0,0.2),
          0px 1px 1px 0px rgba(0,0,0,0.14),
          0px 2px 1px -1px rgba(0,0,0,0.12);
        

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          padding: 10px;

          &:hover {
            background-color: #eee;
          }
        }

        & + .click-out {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      &.centering {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      [class*='awsui_input-container'] {
        min-height: 34px;
      }

      [class*='awsui_date-picker-container'] {
        flex-basis: 100%;
        margin-top: 20px;
      }
    }


    .goldRecords {
      position: absolute;
      right: 50px;
      height: 100%;
      
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      
      .goldRecord {
        width: 20px;
        z-index: 20;
      }

      .goldRecord img {
        width: 50px;
        height: 50px;
      }
    }

    
    .album-dropdown-base {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      padding: 30px 25px 10px 10px;
      width: 300px;

      height: calc(100% - 40px);
      
      img {
        height: 45px;
        margin-top: -5px;
        width: 45px;
      }

      .drop-arrow {
        position: absolute;
        right: 5px;
        user-select: none;
      }

      span {
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex-basis: 33%;
        text-align: center;


        &:first-of-type {
          width: 45px;
        }
        &:nth-last-of-type(2) {
          flex-basis: 67%;
          text-align: left;
        }
      }

      & + .click-out {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

    }

    ul.selectable-albums {
      list-style: none;
      padding: 0;

      position: absolute;
      top: 100%;
      width: 100%;

      max-height: 25vh;
      overflow-y: auto;

      margin: 2px 0 0 0;

      z-index: 30;

      background-color: white;
      box-shadow:
        0px 1px 3px 0px rgba(0,0,0,0.2),
        0px 1px 1px 0px rgba(0,0,0,0.14),
        0px 2px 1px -1px rgba(0,0,0,0.12);

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 10px 0 10px 10px;
        position: relative;
        z-index: 30;
        background-color: white;

        &:hover {
          background: #3333;
        }

        img {
          height: 45px;
          margin-top: -5px;
          width: 45px;
        }
      }

      &:hover {
        background-color: #eee;
      }

      span {
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex-basis: 33%;
        text-align: center;

        &:first-of-type {
          width: 45px;
        }
        &:last-of-type {
          flex-basis: 67%;
          text-align: left;
        }
      }

      
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: #0000;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #7d79;
        border-radius: 2.5px;
      }
    }
  }
  
  .done-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;


    .done-button {
      background-color: white;
      padding: 15px;
      margin: 10px 0;
      font-size: 24px;
      border-radius: 5px;
      user-select: none;

      border: none;
      box-shadow:
        0px 1px 3px 0px rgba(0,0,0,0.25),
        0px 1px 1px 0px rgba(0,0,0,0.1875),
        0px 2px 1px -1px rgba(0,0,0,0.125);


      &:focus {
        outline: none;
      }

      &:active {
        box-shadow: none;
        border: 2px inset lightgray;
      }

    }
  }
}
